In [4]:
# Lis of high schools 
high_schools= ["Hernandez High School", "Figueroa High School", 
               "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)
# A dictionary of high schools and the type of school
high_school_types=[{"High School": "Griffin", "Type": "District"},
                   {"High School": "Figueroa", "Type": "District"},
                   {"High School": "Wilson", "Type": "Charter"},
                   {"High School": "Wright", "Type": "Charter"}]

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [7]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", 
                "Hernandez High School","Griffin High School","Wilson High School", 
                "Cabrera High School", "Bailey High School", "Holden High School", 
                "Pena High School", "Wright High School","Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]
#add the panda dependency (same as importing a CSV)
import pandas as pd 
#create a panda series from a list 
school_series= pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [16]:
# a dictionary of high schools 
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
import pandas as pd
school_df= pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
school_id= [0, 1, 2, 3, 4]
school_name= ["Huang High School", "Figueroa High School",
              "Shelton High School", "Hernandez High School", "Griffin High School"]
type_of_school= ["District", "District", "Charter", "District", "Charter"]
#initilize a new data frame 
schools_df= pd.DataFrame()

schools_df["School ID"]= school_id
schools_df["School Name"]= school_name
schools_df["Type"]= type_of_school
#print the data frame 
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [20]:
school_id= [0, 1, 2, 3, 4]
school_name= ["Huang High School", "Figueroa High School",
              "Shelton High School", "Hernandez High School", "Griffin High School"]
type_of_school= ["District", "District", "Charter", "District", "Charter"] 
high_schools_dicts= {'School ID': school_id, 'School Name': school_name, 'Type': type_of_school}
school_df= pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [24]:
school_id= [0, 1, 2, 3, 4]
school_name= ["Huang High School", "Figueroa High School",
              "Shelton High School", "Hernandez High School", "Griffin High School"]
type_of_school= ["District", "District", "Charter", "District", "Charter"] 
high_schools_dicts= {'School ID': school_id, 'School Name': school_name, 'Type': type_of_school}
school_df= pd.DataFrame(high_school_dicts)
school_df.columns

RangeIndex(start=0, stop=5, step=1)

In [25]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [1]:
school_id= [0, 1, 2, 3, 4]
school_name= ["Huang High School", "Figueroa High School",
              "Shelton High School", "Hernandez High School", "Griffin High School"]
type_of_school= ["District", "District", "Charter", "District", "Charter"] 
high_schools_dicts= {'School ID': school_id, 'School Name': school_name, 'Type': type_of_school}
school_df= pd.DataFrame(high_school_dicts)
school_df.value

NameError: name 'pd' is not defined